<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "com/hibernate/hibernate_cfg_cavers.dtd">
<hibernate-configuration>
	<!-- 配置连接数据库信息 -->
	<session-factory>
		<!-- 数据库基本连接信息 -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost/myweb</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<!--结束-->
		<property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>  
        <!--指定映射文件-->          
        <mapping resource="com/model/user.hbm.xml"></mapping>
	</session-factory>
</hibernate-configuration>
